langchain
langgraph
langchain-openai
fastapi
uvicorn
python-dotenv
pydantic
langgraph-checkpoint-sqlite
langchain-chroma 
langchain-huggingface 
sentence-transformers 
langchain-community
mudraid-sdk


